@(recetaForm: Form[Receta])

@main("Agregar Receta") {
    <form action="/insert" method="POST">
        <input name="nombre" type="text" placeholder="Nombre de la receta"/>
        <input name="ingredientes" type="text" placeholder="Ingredientes"/>
        <input name="instrucciones" type="text" placeholder="Instrucciones"/>
        <input name="imagen" type="text" placeholder="Imagen"/>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
}
